#hanz-navbar {
    height: 64px;
}

#hanz-navbar-img {
    height: 32px;
    width: 32px;
    margin: 5px;
    background: url("../img/photo.jpeg");
}

#hanz-home-about-pre {
    height: 100px;
}

#hanz-home-about-img {
    height: 200px;
    margin: 5px;
    width: 200px;
}

#hanz-home-about-home {
    font-size: 20px;
}

#hanz-home-about-p {
    font-size: 14px;
}



.hanz-edu-logo {
    width: 100px;
    height: 100px;
}

.hanz-edu-title {
    margin-bottom: 4px;
    margin-top: 4px;
}

.hanz-edu-subtitle {
    margin: 0px;
    margin-bottom: 4px;
}

.hanz-edu-para {
    margin: 0px;
    margin-bottom: 4px;
    font-size: 14px;
}

.hanz-edu-row {
    margin: 10px;
}